<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
  <div class="d-flex align-items-center">
    <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item">
        <a href="{% url 'manager:home' %}" class="nav-link">
          <span class="sidebar-text">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'manager:task-list' %}" class="nav-link">
          <span class="sidebar-text">Tasks</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'manager:task-type-list' %}" class="nav-link">
          <span class="sidebar-text">Task types</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'manager:worker-list' %}" class="nav-link">
          <span class="sidebar-text">Team members</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'logout' %}?next={{ request.path }}" class="nav-link">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
